header{
    text-align: center;
    background-color: cadetblue;
}
h1{
    text-align: center;
    background-color: aquamarine;
}
h2{
    text-align: center;
    background-color: burlywood;
}
body{
    background-color: blanchedalmond;
    background-image: -moz-linear-gradient(plain);
}
.hilaal{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: ;
    align-content: center;

}




